* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFFFF;

  --gray-50: #EEEEEE;
  --gray-100: #E5E5E5;
  --gray-200: #929292;
  --gray-500: #545454;
  --gray-800:#222222;

  --black: #000000;

  --pink-500: #FE0078;
}

body {
  color: var(--gray-500);
  background-color: var(--gray-100);
  font-family: 'Open Sans', sans-serif;
}

h1, 
h3 {
  color: var(--black);
}

h5 {
  color: var(--gray-200);
}

p,
span,
ul {
  font-size: 87.5%;
}

input {
  background: var(--white);
  border: 1px solid var(--gray-50);

  &:hover {
    border: 1px solid var(--pink-500);
  }
}

a {
  color: var(--gray-500);
  text-decoration: none;

  &:hover {
    color: var(--pink-500);
    text-decoration: underline;
  }
}

a:hover,
button:hover,
input:hover,
textarea:hover {
  cursor: url('/cursor.cur'), auto;
}