.header__Container {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  position: relative;
  width: 100%;
  z-index: 1;

  a {
    margin-left: 2rem;
  }
}